<div ng-controller="ClientController">
	<h2>CLIENTS</h2>

	<div class="panel panel-default">
		<div class="panel-heading">
			<span>Current Clients</span>
			<button  class="pull-right btn btn-xs btn-success" data-toggle="modal" data-target="#newModal">ADD NEW</button>
			<modal 
				modal-id="newModal"
				click-call="addNew" 
				title-text="Create Client?" 
				btn-view="view/addNewModalBtn.html">
				
				<h3>New Client</h3>

				<form class="creatClientForm form-horizontal">
					<div class="form-group">
						<label for="clientInputName">Client Name:</label>
						<input type="name" class="form-control" id="clientInputName" placeholder="Enter Client Name" ng-model="newClient.name">
					</div>
					<div class="form-group">
						<label for="clientInputEmail">Email Address:</label>
						<input type="email" class="form-control" id="clientInputEmail" placeholder="Enter Email Address" ng-model="newClient.email">
					</div>
					<div class="form-group">
						<label for="clientInputPhone">Phone Number:</label>
						<input type="phone" class="form-control" id="clientInputPhone" placeholder="Enter Phone Number" ng-model="newClient.phoneNumber">
					</div>
					<div class="form-group">
						<label for="clientInputLocation">Location:</label>
						<input type="address" class="form-control" id="clientInputLocation" placeholder="Enter Physical Address" ng-model="newClient.location">
					</div>
					<div class="form-group">
						<label for="clientInputNotes">Notes:</label>
						<textarea id="clientInputNotes" class="form-control" rows="3" ng-model="newClient.notes"></textarea>
					</div>
				</form>

			</modal>

		</div>
		<table class="table">
			<thead>
	          	<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>EMAIL</th>
					<th>PHONE</th>
					<th>LOCATION</th>
					<th class="text-center">PRODUCTS</th>
					<th></th>
				</tr>
	        </thead>
	        <tbody>
				<tr ng-repeat="client in clients.list | orderBy:'id'">
					<th scope="row"><a href="client/{{client.id}}">{{client.id }}</a></th>
					<td ng-dblclick="editingName = true">
						<span ng-hide="editingName">{{client.name}}</span>
						<input type="text" placeholder="input name" ng-show="editingName" ng-model="client.name" class="form-control" ng-blur="editingName = false; update(client);" />
					</td>
					<td ng-dblclick="editingEmail = true">
						<span ng-hide="editingEmail">{{client.email}}</span>
						<input type="text" placeholder="input email" ng-show="editingEmail" ng-model="client.email" class="form-control" ng-blur="editingEmail = false; update(client);" />
					</td>
					<td ng-dblclick="editingPhone = true">
						<span ng-hide="editingPhone">{{client.phoneNumber}}</span>
						<input type="text" placeholder="input phone number" ng-show="editingPhone" ng-model="client.phoneNumber" class="form-control" ng-blur="editingPhone = false; update(client);" />
					</td>
					<td ng-dblclick="editingLocation = true">
						<span ng-hide="editingLocation">{{client.location}}</span>
						<input type="text" placeholder="input location" ng-show="editingLocation" ng-model="client.location" class="form-control" ng-blur="editingLocation = false; update(client);" />
					</td>
					<td class="text-center">
						<a href="" data-toggle="modal" data-target="#addProductsModal">{{client.allProducts.length}}</a>
					</td>
					<td class="tableActions">
						<a class="btn btn-xs btn-info" href="client/{{client.id}}" ng-hide="editing"><span class="glyphicon glyphicon-search"></span></a>
						<button class="btn btn-xs btn-warning" ng-hide="editing" data-toggle="modal" data-target="#editModal" ng-click="setUpdateClient(client)"><span class="glyphicon glyphicon-pencil" ></span></button>
						<button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal" ng-click="setDeleteId(client.id)" ng-hide="editing"><span class="glyphicon glyphicon-remove" ></span></button>
					</td>
				</tr>
			</tbody>
			
		</table>
	</div>



	<modal 
		modal-id="addProductsModal" 
		click-call="addProduct" 
		title-text="Add a product">
		
		
		
	</modal>

	<modal 
		modal-id="editModal" 
		click-call="update" 
		title-text="Update Client?" 
		btn-view="view/editModalBtn.html">

		<h3>Update Client</h3>

		<form class="creatClientForm form-horizontal">
			<div class="form-group">
				<label for="clientInputName">Client Name:</label>
				<input type="name" class="form-control" id="clientInputName" value="updateClient.name" placeholder="Enter Client Name" ng-model="updateClient.name" />
			</div>
			<div class="form-group">
				<label for="clientInputEmail">Email Address:</label>
				<input type="email" class="form-control" id="clientInputEmail" placeholder="Enter Email Address" ng-model="updateClient.email" value="updateClient.email" />
			</div>
			<div class="form-group">
				<label for="clientInputPhone">Phone Number:</label>
				<input type="phone" class="form-control" id="clientInputPhone" placeholder="Enter Phone Number" ng-model="updateClient.phoneNumber" value="updateClient.phoneNumber" />
			</div>
			<div class="form-group">
				<label for="clientInputLocation">Location:</label>
				<input type="address" class="form-control" id="clientInputLocation" placeholder="Enter Physical Address" ng-model="updateClient.location" value="updateClient.location" />
			</div>
			<div class="form-group">
				<label for="clientInputNotes">Notes:</label>
				<textarea id="clientInputNotes" class="form-control" rows="3" ng-model="updateClient.notes">{{updateClient.notes}}</textarea>
			</div>
		</form>
		
	</modal>

</div>

