body {
  padding-top: 100px;
}

.menu {
  margin-left: 50px;
}

.tableActions {
	display:table-row;
	min-width: 15%;
	max-width: 15%;
}

.tableActions a,
.tableActions button {
	margin: 5px 2px;
}

.creatClientForm {
	padding: 15px;
}